body{
    background-color: #D6E3D6;
    font-family: 'Orbitron', sans-serif;
}

main{
    width: 470px;
    height: 580px;
    background-color: darkgreen;
}

#place{
    width: 450px;
    height: 50px;
    background-color: #93B493;
    text-align: center;
}

#scene{
    width: 420px;
    height: 465px;
    position: relative;
    background-color: #5B845B;
}

#highScore{
    margin-top: 0.2em;
}

#nbLife{
    width: 450px;
    height: 20px;
    background-color: #2B3E1E;
}

.sameThings{
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: solid #5B845B;
    border-radius: 5px;
}

.wall{
    color: darkslategrey;
}

.eraser{
    font-size: 0.7em;
    margin-top: 0.2em;
}

.superEraser{
    font-size: 0.7em
}

#pacmanMouthTop{
    margin-top: 0.2em;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border: solid 8px yellow;
    border-radius: 50%;
    animation: topMouth 0.3s ease-out infinite;
}

#pacmanMouthBottom{
    margin-top: 0.2em;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border: solid 8px yellow;
    border-radius: 50%;
    animation: bottomMouth 0.3s ease-out infinite;
}

@keyframes topMouth{
    from { rotate: 50deg;}
    to { rotate: -50deg;}
}

@keyframes bottomMouth{
    from { rotate: -50deg;}
    to { rotate: 50deg;}
}


.ennemy{
    margin-top: 0.2em;
    margin-left: 0.1em;
    height: 8px;
    width: 8px;

    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
}

.ennemy::before{
    content: "";
    position: absolute;
    background-color: white;
    height: 6px;
    width: 5px;
    border-radius: 50%;
    left: -2px;
}

.ennemy::after{
    content: "";
    position: absolute;
    background-color: white;
    height: 6px;
    width: 5px;
    border-radius: 50%;
    left: 4px;
}

.low,.low::before,.low::after{
    position :absolute;
    height: 0;
    width: 0;
    border: solid 3px #5B845B;
    border-top-color: transparent;
    bottom: -5px;
    left: -4px;
}

.low::before{
    content:"";
    left: 2.6px;
    bottom: -3px;
}

.low::after{
    content:"";
    left: 8.5px;
    bottom: -3px;
}


#Blinky{
    color: red;
    border: solid;
    background-color: red;
}

#Pinky{
    color: pink;
    border: solid;
    background-color: pink;
}

#Inky{
    color: lightskyblue;
    border: solid;
    background-color: lightskyblue;
}

#Clyde{
    color: orange;
    border: solid;
    background-color: orange;
}

.pacmanLifes{
    display: inline-block;
    font-size: 0.8em;
}

.button{
    font-family: 'Orbitron', sans-serif;
    background-color: yellow;
    border : solid yellow;
    border-radius: 0.2em;
    font-size: 0.7em;
}
#start{
    margin-left: 42.2%;
    margin-top: 50%;
}

#restart{
    margin-left: 40%;
}

#start:hover, #restart:hover{
    background-color: green;
    border : solid green;
}

#gameOver{
    font-size: 0.7em;
    margin-top: 48%;
    margin-left: 40.5%;
    color: red;
}