body{
    background-color: #D6E3D6;
    font-family: docktrin;
}

main{
    width: 470px;
    height: 580px;
    background-color: darkgreen;
}

#place{
    width: 450px;
    height: 50px;
    background-color: #93B493;
    text-align: center;
}

#scene{
    width: 420px;
    height: 465px;
    position: relative;
    background-color: #5B845B;
}

#nbLife{
    width: 450px;
    height: 20px;
    background-color: #2B3E1E;
}

.sameThings{
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: solid #5B845B;
    border-radius: 5px;
}

.wall{
    color: darkslategrey;
}

.eraser{
    color: lightcyan;
}

.superEraser{
    color: darkorange;
}

#eaterDot{
    border: solid 8px yellow;
    border-radius: 50%;
    margin-top: 0.1em;
}

.ennemy{
    margin-top: 0.2em;
    margin-left: 0.1em;
    height: 8px;
    width: 8px;

    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
}

.ennemy::after{
    content: "";
    position: absolute;
    background-color: white;
    height: 5px;
    width: 5px;
    border-radius: 100%;
    left: 1px;
}

#Blinky{
    color: red;
    border: solid;
    background-color: red;
}

#Pinky{
    color: pink;
    border: solid;
    background-color: pink;
}

#Inky{
    color: lightskyblue;
    border: solid;
    background-color: lightskyblue;
}

#Clyde{
    color: orange;
    border: solid;
    background-color: orange;
}

.pacmanLifes{
    color: yellow;
}